---
import type { ShowcaseCardType } from "../../pages/showcases.astro";

interface Props extends ShowcaseCardType {
  isFullWidth?: boolean;
}

const {
  categories,
  description,
  projectName,
  projectPreview,
  isFullWidth,
  projectLink,
} = Astro.props;
---

<a
  href={projectLink}
  class={`p-10 rounded-xl group w-full h-full shadow-section flex flex-col gap-10 bg-neutral-50  ${
    isFullWidth && "md:flex md:flex-row-reverse md:justify-between"
  } `}
>
  <img
    src={projectPreview}
    class={`w-full h-52 object-cover rounded ${
      isFullWidth && "max-w-full md:max-w-md"
    }`}
    alt="Project picture"
  />
  <section class="flex flex-col gap-4 justify-center">
    <h2
      class="text-2xl font-bold bg-clip-text gradient-blue-red whitespace-nowrap w-min text-transparent"
    >
      {projectName}
    </h2>
    <h3 class="font-bold text-3xl">{description}</h3>
    <p class="text-slate-400 text-base">{categories}</p>
  </section>
</a>
