---
import AdvantagesSection from "../component/advantages-section/advantages-section.astro";
import ContactSection from "../component/contact-section/contact-section.astro";
import Container from "../component/container.astro";
import Footer from "../component/footer/footer.astro";
import HeroSection from "../component/hero-section/hero-section.astro";
import ReviewSection from "../component/review-section/review-section.astro";
import ServiceSection from "../component/service-section/service-section.astro";
import LandingLayout from "../layouts/landing-layout.astro";

const DESCRIPTION = "Create your dream idea with us";
const TAGS = ["agency", "service", "landing"];
const TITLE = "Broaden agency";
---

<LandingLayout
  isHeaderDark={true}
  description={DESCRIPTION}
  tags={TAGS}
  title={TITLE}
  withFooter={false}
>
  <HeroSection />
  <Container>
    <main class="space-y-24 my-24">
      <ServiceSection />
      <AdvantagesSection />
      <ReviewSection />
    </main>
  </Container>
  <div class="bg-gray-900 rounded-t-xl relative overflow-clip space-y-16">
    <ContactSection />
    <Footer isDark={true} />
    <div
      class="-top-44 border left-1/2 -ml-28 absolute w-56 h-56 rounded-full md:-left-16 glow-str bg-fuchsia-500"
    >
    </div>
    <div
      class="hidden md:block glow-str absolute -right-28 bottom-20 w-56 h-56 bg-blue-700 rounded-full"
    >
    </div>
  </div>
</LandingLayout>
