---
import Calculator from "astro-heroicons/outline/Calculator.astro";
import Menu from "astro-heroicons/solid/Bars3.astro";
import Container from "../container.astro";

interface Props {
  isDark?: boolean;
}

const { isDark } = Astro.props;

const { bgColor, textColor, button, borderColor } = isDark
  ? {
      textColor: "text-neutral-50",
      bgColor: "bg-gray-900",
      borderColor: "border-neutral-50",
      button: {
        textColor: "text-gray-900",
        bgColor: "bg-neutral-50",
      },
    }
  : {
      textColor: "text-gray-900",
      bgColor: "transparent",
      borderColor: "border-gray-900",
      button: {
        textColor: "text-neutral-50",
        bgColor: "bg-gray-900",
      },
    };
---

<header class={bgColor}>
  <Container>
    <div class="flex w-full items-center justify-between py-3">
      <span class={`flex h-12 items-center text-base ${textColor} `}>
        Broaden</span
      >

      <Menu class={`flex ${textColor} h-7 w-7 cursor-pointer sm:hidden`} />

      <div class="hidden items-center space-x-4 sm:flex">
        <nav class="space-x-4">
          <button class={`font-medium ${textColor}`}>Services</button>
          <button class={`font-medium ${textColor}`}>Projects</button>
          <a href="/contacts" class={`font-medium ${textColor}`}> Contacts</a>
        </nav>

        <span class="h-8 w-[1px] bg-zinc-200"></span>
        <div class="flex space-x-2">
          <a class={`icon-btn border ${borderColor}`} href="/calculate">
            <Calculator class={`h-6 w-6 ${textColor}`} />
          </a>
          <a
            class={`btn-small ${button.bgColor} ${button.textColor} rounded `}
            href="/contact"
          >
            Contact us
          </a>
        </div>
      </div>
    </div>
  </Container>
</header>
