---
import "@fontsource/noto-sans/400.css";
import "@fontsource/noto-sans/500.css";
import "@fontsource/noto-sans/700.css";

import Footer from "../component/footer/footer.astro";
import Header from "../component/header/header.astro";

import "../styles/globals.css";

interface Props {
  title: string;
  tags: string[];
  description: string;
  isHeaderDark?: boolean;
  withFooter?: boolean;
  isFooterDark?: boolean;
  withVerticalGap?: boolean;
}

const {
  tags,
  title,
  description,
  isHeaderDark,
  isFooterDark,
  withFooter = true,
  withVerticalGap = true,
} = Astro.props;
---

<html class="scroll-smooth" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="keywords" content={tags.join(", ")} />
    <title>{title}</title>
  </head>
  <body class={`${withVerticalGap && "space-y-12 sm:space-y-24"}`}>
    <Header isDark={isHeaderDark} />
    <slot />
    {withFooter && <Footer isDark={isFooterDark} />}
  </body>
</html>
